body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Mypayall {
    width: 800px;
    height: 490px;
}
    .Mypayall .titlebar {
        width: 800px;
        height: 95px;
        background-color: #84909C;
        text-align:center;
    }
     .Mypayall .titlebar .title{
        width: 800px;
        height: 65px;
        display: flex;
        align-items: center;
        background-color: #84909C;
    }
    .Mypayall .titlebar .title span {
        font-size: 28px;
        color: #FFFFFF;
        margin-left: 70px;
        font-family: '微軟正黑體';
    }
        .Mypayall .titlebar .list {
            width: 730px;
            height: 30px;
            background-color: #84909C;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
            .Mypayall .titlebar .list .spanbtn {
                display: block;
                width: 120px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: '微軟正黑體';
                font-size: 15px;
                color: #1a3c50;
            }
            .Mypayall .titlebar .list .abtn {
                display: block;
                width: 120px;
                height: 30px;
                border-radius: 8px 8px 0px 0px;
                background-color: #a3b6c9;
            }
            .Mypayall .titlebar .list .spanbtn2 {
                display: block;
                width: 120px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: '微軟正黑體';
                font-size: 15px;
                color: #1a3c50;
            }
            .Mypayall .titlebar .list .abtn2 {
                display: block;
                width: 120px;
                height: 30px;
                border-radius: 8px 8px 0px 0px;
                background-color: #a3b6c9;
                margin-left:2px;
            }
            .Mypayall .titlebar .list .spanbtn3 {
                display: block;
                width: 120px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-family: '微軟正黑體';
                font-size: 15px;
                color: #1a3c50;
            }
            .Mypayall .titlebar .list .abtn3 {
                display: block;
                width: 120px;
                height: 30px;
                border-radius: 8px 8px 0px 0px;
                background-color: #eee;
                margin-left:2px;
            }
    .Mypayall .contentbg {
        width: 800px;
        height: 395px;
        background-image: url(images/allbg.jpg);
        background-repeat: no-repeat;
        text-align: center;
    }
        .Mypayall .contentbg .content {
            width: 730px;
            height: 370px;
            background-color: #F7F7F7;
            margin: 0 auto;
            border-radius:0px 0px 5px 5px;
            text-align:center;
        }
            .Mypayall .contentbg .content .step {
                width: 730px;
                height: 30px;
                display: flex;
                align-items: center;
                background-color: #e1e0e0;
            }
                .Mypayall .contentbg .content .step div {
                    width: 243px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    background-color: #e1e0e0;
                    justify-content: center;
                }
                .Mypayall .contentbg .content .step div .span1 {
                    text-align: center;
                    font-size: 15px;
                    color: #a940a0;
                    font-family: '微軟正黑體';
                }
                .Mypayall .contentbg .content .step div .span2 {
                    text-align: center;
                    font-size: 15px;
                    color: #1a3c50;
                    font-family: '微軟正黑體';
                }
            .Mypayall .contentbg .content .Up {
                width: 600px;
                height: 230px;
                margin: 0 auto;
            }
                .Mypayall .contentbg .content .Up .items {
                    width: 650px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                }
                    .Mypayall .contentbg .content .Up .items .textbox1 {
                        width: 170px;
                        height: 20px;
                        color: #1a3c50;
                        font-size: 14px;
                        border-color: #9A9393;
                        border-width: 1px;
                        border-style: solid;
                        font-family: '微軟正黑體';
                        margin-left: 20px;
                    }
                    .Mypayall .contentbg .content .Up .items .textbox2 {
                        width: 170px;
                        height: 20px;
                        color: #1a3c50;
                        font-size: 14px;
                        border-color: #9A9393;
                        border-width: 1px;
                        border-style: solid;
                        font-family: '微軟正黑體';
                        margin-left: 83px;
                    }
                    .Mypayall .contentbg .content .Up .items .span4 {
                        color: #a940a0;
                        font-size: 12px;
                        font-family: '微軟正黑體';
                        margin-left: 3px;
                    }
                .Mypayall .contentbg .content .Up .items2 {
                    width: 650px;
                    height: 80px;
                    text-align:left;
                }
                    .Mypayall .contentbg .content .Up .items2 .span1 {
                        color: #a940a0;
                        font-size: 12px;
                        font-family: '微軟正黑體';
                        margin-left:83px;
                    }
                    .Mypayall .contentbg .content .Up .items2 .span2 {
                        color: #1a3c50;
                        font-size: 12px;
                        font-family: '微軟正黑體';
                        margin-left:83px;
                    }
                .Mypayall .contentbg .content .Up .items .span1 {
                    color: #1a3c50;
                    font-size: 15px;
                    font-family: '微軟正黑體';
                }
                .Mypayall .contentbg .content .Up .items select {
                    border-radius: 0px;
                    border-color: #9A9393;
                    -webkit-appearance: menulist;
                    box-sizing: border-box;
                    align-items: center;
                    white-space: pre;
                    -webkit-rtl-ordering: logical;
                    color: black;
                    background-color: white;
                    cursor: default;
                    border-width: 1px;
                    border-style: solid;
                    border-image: initial;
                    margin-left: 20px;
                }
                .Mypayall .contentbg .content .Up .spanbtn {
                    display: block;
                    width: 170px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    font-family: '微軟正黑體';
                    font-size: 14px;
                    color: #FFFFFF;
                }
                .Mypayall .contentbg .content .Up .abtn {
                    display: block;
                    width: 170px;
                    height: 25px;
                    border-radius: 5px;
                    background-color: #43505C;
                    margin-left: 83px;
                }
            .Mypayall .contentbg .content .Hrbar {
                width: 600px;
                height: 10px;
                margin: 0 auto;
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: #84909C;
            }
            .Mypayall .contentbg .content .Down {
                width: 600px;
                height: 100px;
                margin: 0 auto;

            }
             .Mypayall .contentbg .content .Down .items {
                    width: 650px;
                    height: 100px;
                    margin: 0 auto;
                }
                   .Mypayall .contentbg .content .Down .items .remind2 {
                        width: 650px;
                        height: 20px;
                        text-align: left;
                    }
                       .Mypayall .contentbg .content .Down .items .remind2 span {
                            text-align: center;
                            font-size: 16px;
                            color: #1672a7;
                        }
                    .Mypayall .contentbg .content .Down .items .remindlist {
                        width: 650px;
                        height: 85px;
                        text-align: justify;
                    }
                       .Mypayall .contentbg .content  .Down .items .remindlist .span1 {
                            text-align: left;
                            font-size: 12px;
                            color: #1a3c50;
                        }
                        .Mypayall .contentbg .content   .Down .items .remindlist .span2 {
                            text-align: left;
                            font-size: 12px;
                            color: #BD7DCB;
                        }