
@{
    ViewBag.Title = "agreePage";
}

<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="~/css/Login.css" />
<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<script type="text/javascript">
    //$(function () {
    //    $("#admir").click(function () {
    //        window.open('MainSmall.html', '_self', config = 'height=820,width=1260,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
    //        return false;
    //    });
    //    $("#Notadmir").click(function () {
    //        window.open('Login.html', '_self', config = 'height=820,width=1260,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
    //        return false;
    //    });
    //});

    function logout() {

            $.ajax({
            'url': 'Logout',
            'type': 'GET',
            'dataType': 'json',
                'success': function (response) {
                    if (response.Success == true) {
                        window.location.href = '@Url.Action("Login", "Login")';
                    }
                    else {
                       
                    }
            }
        });
    }
</script>
<div class="loginall">
    <div id="consentLoginDiv" class="LoginDiv">
        <div class="titlebar"><div class="verticalcenter"><img src="~/images/logo.png" alt=""></div></div>
        <div id="consent" class="content">
            <p class="consentWord">用户协议书</p>
            <div class="consentContent">
                一、本交易协定为本平台所有协议与规则，请会员进入本网站前务必详阅各条规则，若会员点击“我同意”进入本网站后，将视为已经接受本平台一切所有的协议和规则。<br>
                二、请定期修改本身帐户的登入密码及资金密码，会员有责任确保自己的帐户以及登入资料的保密性，所以会员帐号在平台上的任何投注，将被视为有效。请不定时的做密码变更修改，确保帐户安全。若帐号被盗用所进行的任何投注提款等，本平台一概不负赔偿责任。<br>
                三、投注条款：<br>
                1、投注若未显示投注成功，投注将被视为无效。<br>
                2、若在开奖之前玩家已成功投注，网络若自动或强制断线时，并不影响开奖结算之结果。<br>
                3、若遇到官网未开奖或是开奖号结果错误，本平台将根据实际情况做退奖退单处理。<br>
                4、若遇到不可抗拒之灾害，例如黑客入侵、网路问题等造成数据丢失之情况，将以本公司在线交易之后备用数据为最后处理。<br>
                5、若经平台风控部门查核，发现会员以不正当手法（外挂程序）或透过平台漏洞隐瞒不报 ，恶意刷钱等违反正常玩家行为进行投注者，造成有损害公司利益的情事发生，本公司有权取消该类注单及其盈利，并停用该会员帐号，帐户余额视为无效。<br>
                6、平台都会对所有的投注注单进行记录，如有任何的争议将以注单记录为依据。<br>
                四、在会员确定投注下单后，若发生官方未开奖的情况，平台将于6期后自动撤单，若尚未过6期时间已过凌晨3点关盘时间，系统也将会自动撤单，若撤单之后官方才开奖，平台将不予处理。<br>
                五、本平台高频彩每期最高中奖派彩9,999,999元，超出的派彩不予发送并清0。低频彩每期最高中奖派彩为9,999,999元，超出的奖金不予发送并清0。高频彩单挑每注中奖派彩最高30,000元，超出的奖金不予发送。
                （若当期同样单挑注单分多笔下注并且多个相同ip帐号下注，中奖总额一样以最高派彩30,000元计算， 其馀都扣除不予发放并清0）。<br>
                低频彩单挑每注中奖派彩最高15,000元，超出的奖金不予发送并清0。（若当期同样单挑注单分多笔下注并且多个相同ip帐号下注，中奖总额一样以最高派彩15,000元计算， 其馀都扣除不予发放并清0）。
                <br>每位玩家、同一帐户/家庭/户籍地址/电邮地址/电话号码/付款帐号（如借记卡/信用卡）/ IP地址/共享电脑环境 (如网吧、学校、公共图书馆或工作场所)只能够拥有一个会员帐号，若本公司发现会员有重复帐号投注，每期最高派彩奖金（每期单挑派彩奖金）视同一名会员投注，将平均派发派彩奖金。<br>
                单挑模式：投注的中奖概率低于或等于1％的均为单挑模式。
                <br>例如：[五星直选]1000注及以内，[四星直选]100注及以内，[三星直选]10注及以内，[二星直选]1注，[五星组选120]8注及以内，[五星组选60]16注及以内，[五星组选30]33注及以内，[五星组选20]50注及以内，[五星组选10]100注及以内，[五星组选5]200注及以内，[四星组选24]4注及以内，[四星组选12]8注及以内，[四星组选6]16注及以内，[四星组选4]25注及以内，[三星组六]1注，[三星组三]3注及以內....等等，以上是举例说明。（ 单挑模式：平台提供的所有彩种换算后低于或等于1％）<br>
                六、平台客服在线及存取款时间为24小时，取款每日限无限次，单次最低取款金额为100元，单次最高99,999,999元，当日最高99,999,999元。<br>
                七、为了防止恶意洗钱，会员充值完必须消费充值金额的50％才能提款，平台也不另收提款手续费。<br>
                八、平台银行帐号或支付宝充值帐号会不定期的做更换，请每次会员充值前务必打开充值页面获取最新的充值帐号，若充直到非公司当时提供之帐号，所造成的任何损失，平台一律不予负责。<br>
                九、平台客服唯一途径为平台上聊天室内的客服人员 ，且沒有設置QQ窗口，其他均为假冒，若因此类问题上当受骗，平台一律不予负责。<br>
                十、若本公司发现会员有重复申请帐号行为时，保留取消、收回会员所有优惠红利，以及优惠红利所产生的盈利之权利。同一帐户/家庭/户籍地址/电邮地址/电话号码/付款帐号（如借记卡/信用卡）/ IP地址/共享电脑环境(如网吧、学校、公共图书馆或工作场所)只能够拥有一个会员帐号<br>
                十一、会员帐号若超过30天未登入，且帐户余额小于10元，系统将自动删除帐号。<br>
                十二、每个月1号跟16号凌晨02：50至06：00，平台将进行例行的维护工作，请提前留意投注时间 ，以免造成不必要的损失，维护时间也没支持取款。如果在预定时间内无法完成维护内容，开机时间也将继续顺延。<br>
                十三、本公司保留不定时修改或增加协定游戏规则或保密条例等的操作权利，更改之条款将从更改发生后立即生效，并保留一切有争议事项及最后的决策权。<br>
                十四、若会员追号因官方延迟开奖，导致中奖后无法停止继续追号，平台也是判定之后追号也算正常注单，请会员自行手动撤单平台將不負任何責任。<br>
                十五、此挂机软件为辅助工具，如遇问题与本平台无关，请自行斟酌使用。<br>
                十六、腾讯官方偶尔会出现不即时更新的情形，若发生则当期不列入计算并且暂时关闭此彩种，官方更新后我们会立即重新开放（若因为官方数据未更新，导致每期开奖号码相同，此时平台有权将相同号码之期数以强制撤单处理，不计输赢）
            </div>
            <a href="@Url.Action("index", "Home")" id="admir" class="btnStyleSetting">同意</a>
            <a href="#" id="Notadmir" class="btnStyleSetting NoAdmir" onclick="logout()">不同意</a>
        </div>
    </div>
</div>
