
@{
    ViewBag.Title = "Login";
}
<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="~/css/Login.css" />
<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<script type="text/javascript">
        $(function () {
            //$("#login").click(function () {
            //    window.open('consent.html', '_self', config = 'height=820,width=1260,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
            //    return false;
            //});
            $(".ContactCustomer").click(function () {
                window.open('CustomerService.html', '_blank', config = 'height=602,width=658,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
                return false;
            });
            $(".urgentFreeze").click(function () {
                window.open('urgentFreezeLogin.html', '_self', config = 'height=820,width=1260,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
                return false;
            });
    });

    function login() {
        var Account = $("#Account").val();
        var Password = $("#Password").val();
        $.ajax({
            'url': 'LoginCheck',
            'type': 'GET',
            'dataType': 'json',
            'data': { "Account": Account, "Password": Password },
            'success': function (response) {
                 if (response.Success == false) {
                    alert("帳號密碼錯誤，請檢查帳號或密碼");
                }
                else {
                    window.location.href = '@Url.Action("agreePage", "Login")';
                }
            }
        });
    }

</script>
<div class="loginall">
    <div class="LoginDiv">
        <div class="titlebar"><div class="verticalcenter"><img src="~/images/logo.png" alt=""></div></div>
        <div class="content">
            <div class="itemslist">
                <input type="text" name="firstname" placeholder="请输入您的用户名称" class="textbox1" id="Account">
                <input type="text" name="firstname" placeholder="请输入您的密码" class="textbox2" id="Password">
                <div class="borderstyle">
                    <input type="text" name="firstname" placeholder="请输入验证码" class="textbox3">
                    <img src="~/images/number.jpg" alt=""><span>换一组</span>
                </div>
                <a href="#" class="a2"><span class="span2" onclick="login()">立即登录</span></a>
                <a href="@Url.Action("urgentFreezeLogin", "Login")" class="urgentFreeze">紧急冻结</a>
                | <a href="#" class="urgentFreeze">联络客服</a>
                @*<span  herf="@Url.Action("urgentFreezeLogin", "Login")">紧急冻结</span> | <span class="ContactCustomer">联络客服</span>*@
            </div>
        </div>
    </div>
</div>
