
@{
    ViewBag.Title = "urgentFreeze";
}

<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="~/css/Login.css" />
<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<script type="text/javascript">
    //$(function () {
    //    $("#login").click(function () {
    //        window.open('Login.html', '_self', config = 'height=820,width=1260,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
    //        return false;
    //    });
    //    $(".ContactCustomer").click(function () {
    //        window.open('CustomerService.html', '_blank', config = 'height=602,width=658,top=100,left=100', 'toolbar=false,resizable=yes,scrollbars=no');
    //        return false;
    //    });
    //});
</script>

<div class="loginall">
    <div class="LoginDiv">
        <div class="titlebar"><div class="titleSpan">紧急冻结提示</div></div>
        <div class="content">
            <p class="tipsInfo">帐号 <span class="freezeId">aa16888</span> 已成功冻结，欲解冻或有任何问题，请联繫客服人员或您的上级，谢谢！</p>
            <div class="itemslist">
                <a href="@Url.Action("Login", "Login")" id="login" class="a2"><span class="span2">返回登陆页面</span></a>
            </div>
        </div>
    </div>
</div>

